body {
    background-image: url(../images/bananas.png);
    background-repeat: repeat;
}
.wrapper {
    width: 960px;
    margin: 0 auto;
    min-height: calc(100vh - 80px);
}
header {
    background-image: url(../images/halftone-yellow.png);
    background-repeat: repeat-x; 
    height: 80px;
    border-bottom: 4px solid #186a60;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}
h1 {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    color: #186a60;
}
.sans-serif {
    font-family: Arial, Helvetica, sans-serif;
}
.main-content p {
    margin-left: 420px;
    line-height: 1.4em;
    color: #2a2a2a;
}
.header-content a {
    text-decoration: none;
}
nav {
    box-sizing: border-box;
    margin-top: 30px;
}
.nav-links a {
    padding: 0 20px;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: bold;
}
.divider-bar {
    color: #186a60;
}
.main-content {
    margin: 20px auto;
    background-color: #fefefe;
    padding: 20px;
}
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}
footer {
    background-image: url(../images/halftone-yellow.png);
    background-repeat: repeat-x;
    background-color: #cfcfcf;
    height: 80px;
    border-top: 4px solid #ce9c25;
}
.footer-content {
    width: 960px;
    margin: 0 auto;
}
.footer-content p {
    margin: 0;
    padding: 20px;
    color: #2a2a2a;
    text-align: center;
    font-size: 14px;
}
.logo {
    font-size: 40px;
    color: #186a60 !important;
    display: inline-block;
    background-color: #f8be33;
    height: 80px;
    padding: 0 25px;
    padding-top: 20px;
    box-sizing: border-box;
    font-family: 'Caveat', cursive;
}
hr {
    border: 1px solid #186a60;
    margin: 20px 0;
}
.box-shadow {
    box-shadow: 1px 1px 30px #7cd4d7;
}
.header-background {
    background-image: url(../images/halftone-yellow.png);
    background-repeat: repeat-x;
    width: 100%;
    height: 80px;
    border-bottom: 4px solid #76bcb3;
    position: absolute;
    z-index: -1;
}
a:link, a:visited {
    color: #565656;
}
a:hover, a:active {
    color: #000;
}
.project {
    width: 450px;
    height: 350px;
    float: left;
    margin: 5px;
    position: relative;
    box-shadow: 1px 1px 5px #7cd4d7;
}
.portfolio-title {
    background-color: #f8be33;
    position: absolute;
    bottom: 20px;
    width: 100%;
    height: 60px;
    box-sizing: border-box;
}
.project h2 { 
    color: #186a60;
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    font-size: 20px;
    text-transform: uppercase;
    padding: 18px;
    text-align: center;
}
input[type=text], textarea {
    color: #b2b2b2;
    width: 100%;
    height: 40px;
    margin: 10px 0;
    font-size: 16px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
textarea {
    height: 100px;
}
input[type=submit] {
    color: #186a60;
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
    width: 100%;
    background-color: #f8be33;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #186a60;
    color: #f8be33;
  }